<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Shiny Checklist</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-searchbar [(ngModel)]="filter.text"></ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-chip color="primary">
            <ion-select
              interface="popover"
              [(ngModel)]="selectedPokemonList"
              (ionChange)="selectPokemonList($event)"
            >
              <ion-select-option
                *ngFor="let list of pokemonLists; let i = index"
                [value]="list"
              >
                {{ list.name }}
              </ion-select-option>
            </ion-select>
          </ion-chip>
          <ion-chip
            [color]="filter.checked ? 'primary' : 'light'"
            (click)="filter.checked = !filter.checked"
          >
            <ion-icon class="ion-no-margin" name="checkmark"></ion-icon>
          </ion-chip>
          <ion-chip
            [color]="filter.unchecked ? 'primary' : 'dark'"
            (click)="filter.unchecked = !filter.unchecked"
          >
            <ion-icon class="ion-no-margin" name="close"></ion-icon>
          </ion-chip>
        </ion-col>
        <ion-col size="4">
          <ion-chip class="amount-chip" style="float: right;">
            {{ getCheckedPokemon() }} / {{ pokemonList.length }}
          </ion-chip>
          <ion-chip
            style="float: right;"
            color="primary"
            (click)="initFilter()"
          >
            <ion-icon class="ion-no-margin" name="refresh"></ion-icon>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-chip
            *ngFor="let type of pokemonTypes | objectKeys"
            [ngClass]="!filter.types[type] ? 'type-chip-active' : ''"
            (click)="filter.types[type] = !filter.types[type]"
            [color]="filter.types[type] ? 'primary' : 'dark'"
          >
            <ion-img [src]="pokemonTypes[type]"></ion-img>
            <ion-label style="margin-left: 5px;">
              {{ getPokemonTypeCount(type) }}
            </ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col
          size-xl="1"
          size-lg="2"
          size-md="3"
          size-sm="4"
          size-xs="6"
          *ngFor="let pokemon of pokemonList | pokemonFilter: filter"
        >
          <app-pokemon-card
            [pokemon]="pokemon"
            (check)="checkPokemon($event)"
            (uncheck)="uncheckPokemon($event)"
          ></app-pokemon-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
